html {
    font-size: 10px;
    font-family: Montserrat;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
    color: #333;
}

body > header {
    max-width: 90%;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
}

.home--logo {
    max-width: 186px;
    min-width: 186px;
    min-height: 70px;
    max-height: 70px;
}
body > header > h1 {
    margin: 0;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr 55px;
    max-width: 297px;
    position: relative;
    height: fit-content;
    top: 0;
}


/* .form:hover {
    max-width: 100%;
} */
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    min-width: 100%;
}
fieldset * {
    width: 100%;
    padding: 0;
    margin: 0;
}
fieldset > input, fieldset > select {
    padding: 1rem;
    border: none;
    max-width: 100%;
} 
.filter {
    border-radius: 16px 0px 0px 16px;
}


.search {
    border-radius: 0px 16px 16px 0px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-width: 100%;
}

.search::-webkit-input-placeholder,
.search::-moz-placeholder,
.search::-ms-input-placeholder {
    background: url('./images/search.svg') no-repeat;
    background-position: 16px;
} 

.search:placeholder-shown {
    background: url('./images/search.svg') no-repeat; 
    background-position: 16px;
  }
fieldset > #search {
    background-color: white;
}
fieldset > #search:hover {
    max-width: 100%;
}
.filter, .add {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.add > option:last-child {
    color: red;
    font-size: 8px;
}
.add > option:first-child {
    font-size: 8px;
}
  
/* For IE10 */
.filter::-ms-expand , .add::-ms-expand {
display: none;
}

fieldset > .add {
    text-align: left;
    border: none;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    background-color: white;
    color: #BDBDBD;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}


@media (min-width: 786px) {
    body > header {
    display: flex;
    justify-content: space-between;
    }
    .form {
        position: relative;
        height: fit-content;
        top: 2.5rem;
    }
}



/* ######## */
#root {
    max-width: 90%;
    margin: 0 auto;
}
img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 24px;
}

.rating:before {
    content: url('./images/star.svg');
    position: relative;
    top: 5px;
}

.bnb--card {
    margin-bottom: 20px;
}
article {
    margin-top: 13px;
}
.btn--superhost {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    border-radius: 12px;
    text-transform: uppercase;
    padding: 0rem 1rem;
    cursor: pointer;
    border: 1px solid #4F4F4F;

}
.bnb--type {
    color: #828282;
}
.bnb--desc {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.superhost {
    display: flex;
    justify-content: space-between;
}

#root header {
    display: flex;
    justify-content: space-between;
}
.length {
    height: max-content;
    position: relative;
    top: 8px;
}

@media (min-width: 786px) {
    /* .container {
        display: table;
        /* grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem; */
    /* } */
    /* .container > div {
        display: table-row;
    } */
}

/* Popup */

.popup {
	background: hsla(0, 0%, 30%, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	transition: all 0.25s;
    top: 0;
    display: flex;
	justify-content: center;
	align-items: baseline;
	pointer-events: none;
	opacity: 0;
}

.popup > div {
	padding: 0;
    border-top: 50px solid  white;
    border-bottom: 50px solid  white;
    border-left: 30px solid  white;
    border-right: 30px solid  white;
	background-color: white;
    transition: all 0.2s;
    max-width: 100%;
    min-width: 100%;
}

/* .popup > div > div {
    display: flex;
    justify-content: space-between;
} */

.popup.open {
	opacity: 1;
	pointer-events: all;
}

.inner--filter > div{
    max-width: 40%;
    min-width: 40%;
    margin: 0;
    padding: 0;
    border: 0;
    /* max-width: 100%;
    min-width: 100%; */
}

.inner--filter ul { 
    padding: 0;
    margin: 0;
    list-style: none;
}

.inner--filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 297px;
    position: relative;
    height: fit-content;
    top: 0;
    max-width: 100%;
}

.inner--filter > div {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    min-width: 100%;
}

.filter--card > input {
    /* border-radius: 16px; */
    text-align: left;
    border: none;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    background-color: white;
    color: #BDBDBD;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-width: 100%;
    padding: 1rem;
}
.filter--card > input:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.986);
    border-radius: 16px;
}

.filter--card > div:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.986);
    border-radius: 16px;
}
.filter--card > div {
    text-align: left;
    border: none;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    background-color: white;
    color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-width: 100%;
    padding: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* border-radius: 16px; */
}
.filter--card > div > input {
    text-align: center;
    display: flex;
    border: none;
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-width: 50%;
    margin: auto;
    padding: 6px;
}

.inner--filter > div > input::placeholder {
    color: white;
  }
  
.inner--filter > div > input::placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
.inner--filter > div > input::placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.button--parent {
    display: flex;
}
.button--parent > h4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.displayNone {
    display: none;
}

.select--city {
    border-radius: 16px 0px 0px 16px;
}
.filter--search {
    border-radius: 0px 16px 16px 0px;
}